.container{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

button{
    background-color: rgb(67, 230, 61);
}

h3{
    color: red;
}

span{
    color: red;
}