<div class="container">
    <div class="sub-container">
        <div class="information">
                <div>
                    <label>
                        <h4>agency main page</h4>
                    </label>
                </div>
                <div>
                    <h4>role : {{ role }}</h4>
                </div>
                <div>
                    <h4> AgencyName : {{data.agencyName}} </h4>
                </div>
                <div>
                    <h4> Description : {{data.description}}</h4>
                </div>
                <div><button type="button" (click)="logout()">Log Out</button></div>

        </div>
        <div class="main">
            <div class="addRecord">
                <div class="subAddRecord">
                    <div>
                        <h4>Records : </h4>
                    </div>
                    <div *ngIf="role === 'ROLE_ADMIN'"><button routerLink="../addrecord">Add Record</button></div>
                </div>
                <div class="members">
                    <h4>members : </h4>
                    <div>
                        <tr>
                            <th>id</th>
                            <th>member name</th>
                            <th>description</th>
                            <th>transaction type</th>
                            <th>amount</th>

                        </tr>
                        <tr *ngFor="let data of memberData; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{data.memberName}} </td>
                            <td>{{data.description}} </td>
                            <td>{{data.transactionType}} </td>
                            <td>{{data.amount}} </td>
                        </tr>
                    </div>
                </div>
            </div>
            <div class="summary">
                <h3>Deposit Amount : {{depositAmount.amount}}</h3>
                <h3>Credit Amount : {{creditAmount.amount}}</h3>
                <h3>Balance = {{depositAmount.amount - creditAmount.amount}}</h3>
            </div>
        </div>
    </div>
</div>